<h1>Welcome to Startlab's website<small>((Beta version))</small></h1>

<hr>

<p>Made by stuart</p>

<h4> Select your name </h4>

<ul>
  <li><a href="{{ url_for('user',name='Leon') }}">Leon</a></li>
  <li><a href="{{ url_for('user',name='Adam') }}">Adam</a></li>
  <li><a href="{{ url_for('user',name='Giannis') }}">Giannis</a></li>
  <li><a href="{{ url_for('user',name='Jeremy') }}">Jeremy</a></li>
  <li><a href="{{ url_for('user',name='Maanasa') }}">Maanasa </a></li>
  <li><a href="{{ url_for('user',name='Stuart') }}">Stuart</a></li>
</ul>